<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link href="dashboardStyles.css" rel="stylesheet">
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sport</th>
      <th scope="col">League</th>
      <th scope="col">Event</th>
      <th scope="col">Date & Time</th>
      <th scope="col">Bets</th>
    </tr>
  </thead>
  <tbody>
    <% 
      const seenTeams = new Set(); 
      advantages.forEach(advantage => {
        const homeName = advantage.outcomes[0].participant.name;
        const awayName = advantage.outcomes[1].participant.name;
        
        if (seenTeams.has(homeName) && seenTeams.has(awayName)) {
          return;
        }

        seenTeams.add(homeName);
        seenTeams.add(awayName);
    %>
    <tr>
      <td><%= advantage.market.event.participants[0].sport %></td>
      <td><%= advantage.market.event.competitionInstance.name %></td>
      <td><%= advantage.market.event.name %></td>
      <td><%= advantage.market.event.startTime %></td>
      <td><button onclick='openDetailsModal({team1: "<%- JSON.stringify(advantage.outcomes[0].participant.name).slice(1, -1) %>",
        team2: "<%- JSON.stringify(advantage.outcomes[1].participant.name).slice(1, -1) %>"
      })'>Place Bet</button></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<!-- Modal -->
<div id="detailsModal" class="detailsModal" style="display: none;">

  <div class="detailsModal-content">
    <div class="modal-heading">
      <h2>Participant Details</h2>
      <a href="#" onclick="closeDetailsModal(event)">Back to List</a>
    </div>
    <button id="team1"></button>
    <button id="team2"></button>

  </div>
</div>




<script>
  function openDetailsModal(data) {
    document.getElementById('team1').textContent = data.team1 || 'N/A';
    document.getElementById('team2').textContent = data.team2 || 'N/A';
   

    document.getElementById('detailsModal').style.display = 'flex'; // or 'block' depending on your CSS
  }

  function closeDetailsModal(event) {
    event.preventDefault();
    document.getElementById('detailsModal').style.display = 'none';
  }
</script>


</body>
</html>